body {
  font-family: Arial;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #323232 url(../images/bg.png) repeat-y center 0px;
  color: #666;
}


/* Header */
.header {
  background: #999999 url(../images/light.png) no-repeat 50% 0px;
  height: 325px;
}

.inf {
  background: url(../images/inf.png) no-repeat 10px 35px;
  height: 350px;
}

.qp {
  background: url(../images/qp.org.png) no-repeat 20px 75px;
  height: 300px;
}

.hs {
  background: url(../images/hs.png) no-repeat 50% 0px;
}


/* Footer */
.footer {
  border-top: 2px solid #ccc;
  background-color: #121212;
  min-height: 100px;
}

.footer p {
  padding: 10px;
  font-size: 12px;
}

/* Main area */
.main {
}


/* Content */
.content {
  padding: 20px;
}

p.content {
  padding: 10px;
}


/* Navigation tabs */
.tabs {
  margin-top: -35px;
  display: block;
}

.tabs .tab {
  text-align: center;
  float: left;
}

.tab a {
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-shadow: rgba(102, 102, 102, 0.50) 0px 2px 2px;
  color: #666;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  height: 35px;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

.tab a:hover {
  color: #666;
  text-shadow: rgba(50, 50, 50, 5) 0px 2px 2px;
}

.tab.active a {
  font-weight: bold;
}


/* Breadcrumbs */
.bc {
  height: 60px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  font-variant: small-caps;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.bc a {
  color: #999;
  display: block;
  height: 60px;
  text-decoration: none;
  text-shadow: rgba(102, 102, 102, 0.50) 0px 1px 0px;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

.bc a:hover {
  color: #999;
  text-shadow: rgba(50, 50, 50, 5) 0px 1px 1px;
}

.bc div {
  float: left;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  background: url(../images/link.png) no-repeat 0px 30px;
}

.bc .first {
  background: none;
}


/* Links */
a {
  text-decoration: none;
  color: #336699;
  text-shadow: rgba(0, 102, 153, 0.30) 0px 1px 1px;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

a:hover {
  color: #336699;
  text-shadow: rgba(0, 102, 153, 5) 0px 1px 1px;
}

/* external link */
a.urle {
  background: url(../images/outg.png) center right no-repeat;
  padding-right: 13px;
}

/* interwiki link */
a.iw {
  background: no-repeat scroll 0 1px;
  padding-left: 16px;
}

a.iw_wp {
  background-image: url(../images/wp.gif);
}

a.iw_g {
  background-image: url(../images/google.gif);
}


/* levels */
.lvl1 { margin-left: 0px; }
.lvl2 { margin-left: 0px; }
.lvl3 { margin-left: 20px; }
.lvl4 { margin-left: 20px; }
.lvl5 { margin-left: 20px; }
.lvl6 { margin-left: 20px; }

h1, h2, h3, h4, h5, h6 {
  background-color: inherit;
  font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  font-weight: normal;
  clear: left;
  text-shadow: rgba(102, 102, 102, 0.50) 0px 2px 2px;
}

h1 { font-size: 180%; margin-left: 0;    }
h2 { font-size: 160%; margin-left: 0;    }
h3 { font-size: 140%; margin-left: 20px; }
h4 { font-size: 120%; margin-left: 20px; }
h5 { font-size: 100%; margin-left: 20px; }
h6 { font-size: 100%; margin-left: 20px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-shadow: rgba(102, 102, 102, 0.50) 0px 2px 2px;
  color: #444;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-shadow: rgba(102, 102, 102, 0.50) 0px 2px 2px;
  color: #444;
}

pre {
  margin: 1em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #f0f0f0;
  font-size: 14px;
}

.toc {
  display: inline-block;
  max-width: 80%;
  margin-bottom: 1em;
  padding: 0.5em;
  padding-left: 1.5em;
  border: 1px solid #ccc;
  font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  /*background-color: #f0f0f0;*/
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

.toc ol {
  list-style: upper-roman outside none;
  margin-bottom: 0;
}

.toc ol ol {
  list-style: decimal outside none;
}

/* unordered lists */
ul {
  line-height: 1.5em;
  margin-bottom: 1em;
  list-style: circle outside none;
  color: #444444;
}

/* ordered lists */
ol {
  line-height: 1.5em;
  color: #444444;
  margin-bottom: 1em;
  list-style: decimal outside none;
}

li {
  margin-left: -1.5em;
}

code, tt {
  color: #0000bb;
  font-size: 105%;
}

p {
  text-align: justify;
  text-shadow: rgba(102, 102, 102, 0.5) 0px 1px 1px;
}

/* embedded images */
img {
  border: 0;
}

img.left {
  float: left;
  margin: 1em;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
}

img.right {
  float: right;
  margin: 1em;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
}

img.center {
  display: block;
  margin: 0 auto;
  margin: 1em;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
}

.left {
  float: left;
}

.right {
  float: right;
}

table {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #f0f0f0;
  font-size: 14px;
}

/* pygments */
table.syntaxtable {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #f0f0f0;
  font-size: 14px;
}

table.syntaxtable pre {
  border: 0;
  margin: 0;
  padding: 0.25em 0.25em 0.25em 0.5em;
}

table.syntaxtable tr td {
  background: none;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

div.syntax {
  background: none;
  margin-left: -1.5em;
}

td {
  padding: 0.5em;
  background-color: #f0f0f0;
}

th {
  padding: 0.5em;
  background-color: #eaeaea;
}

p.note, p.important, p.warning, p.tip {
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70% !important;
  min-height: 40px;
  clear: both;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 15px 20px 15px 80px;
  background-position: 20px 50%;
  background-repeat: no-repeat;

  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background-color: #f0f0f0;
  font-size: 14px;
}

p.note {
  background-color: #eef;
  background-image: url(../images/note.png);
}

p.important {
  background-color: #ffc;
  background-image: url(../images/important.png);
}

p.warning {
  background-color: #fdd;
  background-image: url(../images/warning.png);
}

p.tip {
  background-color: #dfd;
  background-image: url(../images/tip.png);
}