<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{ title }} | {{ site_title }}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" media="all" type="text/css" href="/static/css/pygments_style.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/static/css/jquery.lightbox.css" />
  <link rel="stylesheet" media="all" type="text/css"  href="/static/css/stylev2.css" />
  <link rel="stylesheet" media="all" type="text/css" href="/static/css/libgithub.css" />
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/static/js/excanvas-compressed.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.lightbox.pack.js"></script>
  <script type="text/javascript" src="/static/js/humane.js"></script>
  <script type="text/javascript" src="/static/js/date.js"></script>
  <script type="text/javascript" src="/static/js/md5.js"></script>
  <script type="text/javascript" src="/static/js/libgithub.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $('a.lightbox').lightBox({
        imageLoading: '/static/images/lightbox-ico-loading.gif',
        imageBtnClose: '/static/images/lightbox-btn-close.gif',
        imageBtnPrev: '/static/images/lightbox-btn-prev.gif',
        imageBtnNext: '/static/images/lightbox-btn-next.gif'});
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="span-1">
     &nbsp;
    </div>
    <div class="span-22">
      <div class="span-22 header">
        <div class="span-4">
          &nbsp;
        </div>
        <div class="span-7 inf">
          &nbsp;
        </div>
        <div class="span-12 pull-3 qp">
          &nbsp;
        </div>
      </div>
      <div class="span-22 tabs">
        <div class="span-2">&nbsp;</div>
        {% for uri, link_id in settings.HEADER_LINKS %}{% spaceless %}
          {% ifequal uri toplevel %}
            <div class="span-3 tab active"><a href="/{{ uri }}">{{ link_id }}</a></div>
          {% else %}
            <div class="span-3 tab"><a href="/{{ uri }}">{{ link_id }}</a></div>
          {% endifequal %}
        {% endspaceless %}
        {% endfor %}
      </div>
      {% if document.breadcrumbs %}
      <div class="span-22 bc hs">{% for sub_dn, bc_title in document.breadcrumbs %}
        <div{% if forloop.first %} class="first"{% endif %}><a href="/{{sub_dn}}">{{bc_title}}</a></div>{% endfor %}
      </div>
      <div class="span-22 main">
      {% else %}
      <div class="span-22 main hs">
      {% endif %}
      <div class="span-22 main">
        {% block content %}{% endblock %}
      <div>
      <div class="span-22 footer">
        <p class="left">&copy; {% now "Y" %} {{ author }}. <a target="_top" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Some rights reserved.</a></p>
        <p class="right">
          Hosted in the <a href="http://www.rackspacecloud.com/592.html" target="_blank" title="Use this affiliate link when you order your virtual servers!">Rackspace Cloud</a>.
        </p>
        {% block analytics %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>