{% extends 'base.html' %}
{% block content %}
    <div class="content">
      <h1><a name="{{ title_shortname }}">{{ title }}</a></h1>
{% autoescape off %}{{ document.summary }}{% endautoescape %}
{% if document.toc.size %}
      <div class="toc">
{% autoescape off %}{{ document.toc.to_html }}{% endautoescape %}
      </div>
{% endif %}
{% autoescape off %}{{ document.to_html }}{% endautoescape %}
    </div>
{% endblock %}
{% block analytics %}{% if analytics_id %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("{{ analytics_id }}");
  pageTracker._trackPageview();
} catch(err) {}
</script>
{% endif %}{% endblock %}
